<style>
  .btn {
 height: 2rem;
    width: 7rem;
    font-size: smaller;
  }

  @media (min-width:768px) {
    .btn {
          height: unset;
    width: unset;
    font-size:unset;
    }
  }

  .card-body {
    padding: 0.25rem;
  }

  @media (min-width:768px) {
    .card-body {
      padding: 1.25rem;
    }
  }

  .desp {
    font-size: 14px;
    padding-bottom: 5px;
  }

  @media (min-width:768px) {
    .desp {
      font-size: unset;
      padding-bottom: 5px;
    }
  }

  .price {}

  @media (min-width:768px) {
    .price {
      font-size: 25px;
    }
  }

  .name {
    font-size: unset;
  }

  @media (min-width:768px) {
    .name {
      font-size: larger;
    }
  }

  .column_m {
    float: left;
    width: 30%;
    padding-left: 23px;
  }

  @media (min-width:768px) {
    .column_m {
      float: left;
      width: 30%;

    }
  }

  .column {
    float: left;
    width: 30%;
  }

  @media (min-width:768px) {
    .column {
      float: left;
      width: 30%;

    }
  }


  .column_2 {
    width: 50%;
    padding: 1px;
    margin: auto;
    padding-left: 5px;
  }

  @media (min-width:768px) {
    .column_2 {
      width: 50%;
      padding: 1px;
      margin: auto;
      padding-left: 5px;
    }
  }

  .row {
    display: flex;
  }

  p {
    margin-top: initial;
    margin-bottom: initial;
  }

  .card-fashion {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: 20px;
    margin: auto;
    text-align: left;
    font-family: arial;
  }


  .card-fashion button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }

  .card {
    height: 14.5rem;
    width: 21.5rem;
  }

  @media (min-width:768px) {
    .card {

      width: 24rem;
      height: 18rem;
    }
  }

  .img {
    width: auto;
    height: 90px;
    padding-left: 24px;
    padding-top: 12px;

  }

  @media (min-width:768px) {
    .img {
      width: auto;
      height: 120px;
      padding-left: 24px;
      padding-top: 15px;
    }
  }
  </style>
<section class="">
  <div class="  pt-5 mt-5">
    <div class="row">
      {{#each products}}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pl-4">
        <div class="card  mb-4 " >
          <div class="row">
            <div class="column">
              <img class="img card-img-top mr-auto " 
             src="/product-images/{{this.product._id}}.jpg" alt="Card image cap" />
            </div>
            <div class="column_2">
              <h5 class="name card-title" style="">{{this.product.Name}}</h5>
              <h5 class="price card-title" style="font-size: 25px;  padding-left: 23px;"> ₹{{this.product.Price}}</h5>
            </div>
            <div class="row">
            </div>
          </div>
          <div class="card-body ">
            <p class="card-text ">{{this.product.Description}}</p>
            {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add To Cart</a> --}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<footer >
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    &copy;
    <script type="text/javascript">
      var today = new Date()
      var year = today.getFullYear()
      document.write(year)
    </script>
    <a class="text-black">CARTMAX</a>
  </div>
</footer>
